<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - elFinder.Net.Demo</title>

  <environment names="Development">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
  </environment>
  <environment names="Staging,Production">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
  </environment>

  @*<link rel="stylesheet" href="~/lib/jquery-ui/dist/themes/base/theme.css" />
  <link rel="stylesheet" href="~/lib/jquery-ui/dist/themes/base/jquery-ui.css" />
  <link rel="stylesheet" href="~/css/elfinder/themes/windows-10/css/theme.css" />
  <link rel="stylesheet" href="~/css/elfinder/themes/material/css/theme.css" />
  <link rel="stylesheet" href="~/css/elfinder/themes/material/css/theme-light.css" />
  <link rel="stylesheet" href="~/lib/jquery-ui/dist/themes/redmond/jquery-ui.min.css" />*@
  <link rel="stylesheet" href="~/lib/elfinder/css/elfinder.full.css" />
  <link rel="stylesheet" href="~/css/elfinder/themes/material/css/theme-gray.css" id="elfinder-theme" />
  @*<link rel="stylesheet" href="/lib/elfinder/css/theme.min.css" />*@

  <style>
    .elfinder-cwd table td {
      /* fix conflict with Bootstrap CSS. See: https://github.com/Studio-42/elFinder/commit/4f858d5ffc9a8f41b4cc07a063782abe2e722bdf */
      box-sizing: content-box;
    }
  </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container-fluid body-content">
    @RenderBody()
    <hr />
    <footer>
      <p>&copy; 2023 - elFinder.Net8.Demo</p>
    </footer>
  </div>

  <environment include="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/popper.js/dist//umd/popper.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
  </environment>
  <environment exclude="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/popper.js/dist/umd/popper.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js">
    </script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
  </environment>

  <script src="~/lib/jquery-ui/dist/jquery-ui.min.js"></script>
  <script src="~/lib/elfinder/js/elfinder.full.js"></script>
  <script type="text/javascript">
    function switchTheme(href) {
      $('link#elfinder-theme').attr('href', href);
    }
  </script>

  @RenderSection("Scripts", required: false)
</body>
</html>
